<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<!-- MaxHistory:日志保存的天数 -->

	<property resource="logback.properties" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[${system_name}] %d{yy/MM/dd HH:mm:ss.SSS} %-5level %line %logger{36} - %msg %n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="mongo" class="com.rpc.logback.MongoDbAppender">
		<host>${mongo.server.address}</host>
		<port>${mongo.server.port}</port>
		<system>${system_name}</system>
		<database>${mongo.database}</database>
		<collection>${mongo.collection}</collection>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logBase}/logs.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>1</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[${system_name}] %d{yy/MM/dd HH:mm:ss.SSS} %-5level %line %logger{36} - %msg %n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logBase}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>1</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[${system_name}] %d{yy/MM/dd HH:mm:ss.SSS} %-5level %line %logger{36} - %msg %n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="com.rpc" level="debug" />
	<logger name="org.apache" level="error" />
	<logger name="org.springframework" level="error" />
	<logger name="com.alibaba" level="info" />

	<logger name="com.netflix" level="info" />
	<logger name="redis.clients" level="info" />

	<!-- 因为开始日志输出到mongo ， 所以它走error级别 -->
	<logger name="org.mongodb" level="error" />
	<logger name="com.mongodb" level="error" />

	<!-- 日志级别：trace < debug < info < warn < error -->
	<root level="info">
		<!-- 输出到控制台 -->
		<appender-ref ref="stdout" />

		<!-- 输出到mongo -->
		<appender-ref ref="mongo" />

		<!-- 当前级别可输出的日志全部写入一个文件 -->
		<!-- <appender-ref ref="file" /> -->

		<!-- error级别日志单独写入一个文件 -->
		<!-- <appender-ref ref="error" /> -->
	</root>

</configuration>